<div class="d-flex justify-content-between align-items-center p-3 m-3">
  <div class="border border-primary rounded p-3" id="current-time"><%= User.display_time %></div>
  <h1 class="text-center">Emergency Room Queue</h1>
  <% if PatientRequest.get_top %>
    <p><h2 class="text-center border border-primary rounded p-3"><div id="top-patient"><%= PatientRequest.get_top %>, you are next!</div></h2></p>
  <% else %>
    <p><h2 class="text-center border border-primary rounded p-3">No patients are currently in the queue.</h2></p>
  <% end %>
</div>

<div class="container">
  <div class="row d-flex">
    <% @patient_requests.each do |patient_request| %>
      <%= render patient_request %>
    <% end %>
    <div class="d-flex justify-content-center m-3">
      <%= will_paginate @patient_requests, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
</div>

