<h1 style="text-align: center; padding: 5px;">Emergency Room Queue</h1>

<div class="card-group mb-3" id="patient_requests">
  <% @patient_requests.each do |patient_request| %>
    <%= render patient_request %>
  <% end %>
</div>
