<div class="queue-page">
  <div class="top-section">
    <div class="d-flex justify-content-between align-items-center p-3 m-3">
      <p class="fw-bold">
        Current Date and Time: <span id="current-time"><%= User.display_time %></span>
      </p>
      <h1 class="text-center">Emergency Room Queue</h1>
    </div>
  </div>

  <div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="text-center">
      <%= image_tag "heartbeat.jpeg", width: 100, height: 100, alt: "No Patients", class: "mb-4" %> <!-- Add a medical-themed icon -->
      <% if PatientRequest.get_top %>
        <h2 class="text-center border border-primary rounded p-3"><%= PatientRequest.get_top %>, you are next!</h2>
      <% else %>
        <h2 class="text-muted">No patients are currently in the queue.</h2>
        <%= link_to "Join the line", new_patient_request_path, class: "btn btn-primary mt-4" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  function updateTime() {
    const timeElement = document.getElementById('current-time');
    const now = new Date();
    const formattedTime = now.toLocaleString('en-US', {
      year: 'numeric',
      month: '2-digit',
      day: '2-digit',
      hour: '2-digit',
      minute: '2-digit',
      second: '2-digit',
    });
    timeElement.textContent = formattedTime;
  }

  // Update the time every second
  setInterval(updateTime, 1000);
  
  // Initial call to display the time immediately on page load
  updateTime();
</script>
