<%= render @patient_request %>

<div>
  
  <%= link_to "Edit this patient request", edit_patient_request_path(@patient_request) %> |
  <%= link_to "Back to patient requests", patient_requests_path %>

  <%= button_to "Destroy this patient request", @patient_request, method: :delete %>
</div>
