<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", [@patient_request, comment] %>
    </p>
  <% end %>
</div>

<%= link_to "New comment", new_patient_request_comment_path(@patient_request) %>
