<p style="color: green"><%= notice %></p>
<h1 class="text-center">Notes</h1>
<div class="d-flex flex-column align-items-center">
  <% @comments.each do |comment| %>
    <%= render partial: 'comments/comment', locals: { comment: comment, patient_request: @patient_request } %>
  <% end %>
  <%= link_to "New Note", new_patient_request_comment_path(@patient_request), class: "btn btn-primary mx-auto btn-lg mt-4"%>
  <%= link_to "Return to Details", patient_request_path(@patient_request), class: "btn btn-primary mx-auto btn-lg mt-4 mb-4"%>
</div>
