<p style="color: green"><%= notice %></p>

<h1 class="text-center">Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render partial: 'comments/comment', locals: { comment: comment, patient_request: @patient_request } %>
  <% end %>
</div>

<%= link_to "New comment", new_patient_request_comment_path(@patient_request) %>
