<% if notice.present? %>
  <p class="alert alert-primary mb-0" role="alert"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger mb-0" role="alert"><%= alert %></p>
<% end %>
