body{
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 50vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #F5EFE6;
}
.main{
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

footer{
  width: 100%;
  max-height: 80px;
  flex: 0 0 50px;/*or just height:50px;*/
  margin-top: auto;

}

.blink {
  animation: blinker 1s linear infinite;
  width:100px;
  font-weight:bold;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* General Styles */
@media (max-width: 767px) {
  .fs-1 {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }
  .fs-2 {
    font-size: 1.5rem;
  }
  .fs-3 {
    font-size: 1.25rem;
  }
}

/* General Styles */
@media (max-width: 767px) {
  .fs-1 {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }
  .fs-2 {
    font-size: 1.5rem;
  }
  .fs-3 {
    font-size: 1.25rem;
  }
}

/* Infographic */
.infographic .step-icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.infographic .step-title {
  font-size: 1.1rem;
}

.infographic p {
  font-size: 0.9rem;
}

/* Video Banner */
.demo-banner .embed-responsive {
  position: relative;
  padding: 0;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

.demo-banner video {
  width: 100%;
  height: auto;
}

/* Navbar background */
.navbar {
  background-color: #004d4d; /* Deep Teal */
  max-height: 80px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

/* Gradient effect for smoother blending */
.navbar {
  background: linear-gradient(180deg, #004d4d 0%, #006666 100%);
}

/* Button styling with accent color */
.btn-primary {
  background-color: #004d4d;
  border-color: #004d4d;
  color: white;
}

.btn-primary:hover {
  background-color: #006666; /* Slightly lighter shade for hover */
  border-color: #006666;
}

/* Typography and link colors */
.navbar-nav .nav-link {
  color: white; /* White text for contrast */
  font-weight: 600;
}

.navbar-nav .nav-link:hover {
  background-color: #004d4d; /* Light blue for hover state */
  border-radius: 10px;
}

/* Add a complementary background color to sections */
.section-background {
  background-color: #e6f2f2; /* Very light teal to complement the navbar */
  padding: 20px;
  border-radius: 8px;
}

.step-icon{
  background-color: #004d4d;
}
