body{
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 50vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #F5EFE6;
}
.main{
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  text-align:center; 
  background-color: #F0F8F8;
}
