.main{
  background-color: blue;
  color: white;
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

footer{
  flex: 0 0 50px;/*or just height:50px;*/
  margin-top: auto;
}

.blink {
  animation: blinker 1s linear infinite;
  width:100px;
  font-weight:bold;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
