<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
 <main class="px-3">
    <h1>ERFlow</h1>
    <p class="lead">ERFlow is an application designed to manage ER patients within a queue system.</p>
    <p class="lead">Get queued in today!</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>

  <footer class="mt-auto text-black-50">
    <p>ERFlow by <a href="https://www.github.com/rezahusain/">Reza Husain</a></p>
  </footer>
</div>
