<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
 <main class="px-3 mt-5" style="text-align:center;">
    <h1 class="glow">ERFlow</h1>
    <p class="lead">ERFlow is an application designed to manage ER patients within a queue system.</p>
    <p class="lead">Get queued in today!</p>
    <p class="lead">
      <%= link_to "Sign in", new_user_session_path, class:"btn btn-lg btn-secondary fw-bold border-black bg-black"%>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-secondary fw-bold border-black bg-black"%>
    </p>
  </main>

  <footer class="mt-auto text-black-50">
    <p>ERFlow by <a href="https://www.github.com/rezahusain/">Reza Husain</a></p>
  </footer>
</div>
